<!DOCTYPE html>
<html>
<head>
    <title>Create Provider</title>
</head>
<body>

    <h1>Create Provider</h1>

    <form method="POST">
        {% csrf_token %}

        <label>Name</label><br>
        <input type="text" name="name" required>
        <br><br>

        <label>Phone Number</label><br>
        <input type="text" name="phone_number" required>
        <br><br>

        <label>Address</label><br>
        <input type="text" name="address" required>
        <br><br>

        <label>Email</label><br>
        <input type="email" name="email" required>
        <br><br>

        <label>Description</label><br>
        <textarea name="description"></textarea>
        <br><br>

        <button type="submit">Save Provider</button>
    </form>

</body>
</html>