<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Market Admin</title>
    <script src="https://cdn.tailwindcss.com">
      function toggleUserMenu() {
          const menu = document.getElementById('userMenu');
          menu.classList.toggle('hidden');
        }

        // close menu when clicking outside
        document.addEventListener('click', function(e) {
          const menu = document.getElementById('userMenu');
          if (!e.target.closest('.relative')) {
            menu.classList.add('hidden');
          }
        });
    </script>
  </head>
  <body class="bg-gray-100 font-sans">
    <div class="flex h-screen">
      {%include "backoffice/dashboard/sidebar/sidebar.html"%}
      {%include "backoffice/dashboard/main_area/main_area.html"%}
    </div>

    <script>
      function showSection(sectionId) {
        const sections = document.querySelectorAll(".section");
        sections.forEach((sec) => sec.classList.add("hidden"));

        document.getElementById(sectionId).classList.remove("hidden");
      }
    </script>
  </body>
</html>
