<h2>User Preferences</h2>

<form method="POST">
  {% csrf_token %}

  <label>First Name:</label>
  <input type="text" name="first_name" value="{{ user.first_name }}">

  <br>

  <label>Last Name:</label>
  <input type="text" name="last_name" value="{{ user.last_name }}">

  <br>

  <label>Email:</label>
  <input type="email" name="email" value="{{ user.email }}">

  <br>

  <label>New Password:</label>
  <input type="password" name="password" placeholder="Leave blank to keep current">

  <br><br>

  <button type="submit">Save</button>
</form>