<h2>Want to be provider apply here</h2>
<!-- <h2>Apply to be provider</h2>
<p>Current Role: <strong>{{ role }}</strong></p>

<hr>

{% if role == 'provider' %}
    <p>✅ You are already a verified Provider.</p>
{% elif application %}
    <div>
        <h3>Application Status: {{ application.get_status_display }}</h3>
        <p>Submitted on: {{ application.created_at|date:"M d, Y" }}</p>
        <p>Notes: {{ application.notes }}</p>
    </div>
{% else %}
    <div class="apply-section">
        <h3>Apply to become a Provider</h3>
        <form method="POST" action="">
            {% csrf_token %}
            <textarea name="notes" placeholder="Why do you want to be a provider?" required></textarea>
            <br>
            <button type="submit">Submit Application</button>
        </form>
    </div>
{% endif %} -->