<!doctype html>
<html>
  <head>
    <title>Customers</title>
  </head>

  <body>
    <!-- Customers -->
    <div id="customers" class="section hidden">
      <h2 class="text-2xl font-bold mb-4">Customers</h2>

      <table border="1" width="100%">
        <tr>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Created At</th>
          <th>Action</th>
        </tr>

        {% for customer in customers %}
        <tr id="customer-{{ customer.id }}">
          <td>{{ customer.user.email }}</td>
          <td>{{ customer.phone }}</td>
          <td>{{ customer.address }}</td>
          <td>{{ customer.created_at }}</td>

          <td>
            <a href="{% url 'customer_edit' customer.id %}">
              <button>Edit</button>
            </a>
          </td>
        </tr>
        {% endfor %}

      </table>
    </div>
  </body>
</html>