{% load static %}
<!doctype html>
<html>
  <head>
    <title>{{name}}</title>
  </head>
  <body>
    <h1>{{name}}</h1>
    <p>Sitio Cliente</p>
    <p>Usuario</p>

    <p>List of products</p>

    <p>Peras $10 pesos Click aqui para comprar</p>
    <p>Manzanas $15 pesos Click aqui para comprar</p>
    <p>Verdura $15 pesos Click aqui para comprar</p>
    <p>Naranjas $12 pesos Click aqui para comprar</p>
    <p>Plátanos $8 pesos Click aqui para comprar</p>
    <p>Uvas $25 pesos Click aqui para comprar</p>
    <p>Mangos $20 pesos Click aqui para comprar</p>
    <p>Fresas $30 pesos Click aqui para comprar</p>
    <p>Piña $18 pesos Click aqui para comprar</p>
    <p>Sandía $35 pesos Click aqui para comprar</p>
    <p>Melón $28 pesos Click aqui para comprar</p>
    <p>Papaya $22 pesos Click aqui para comprar</p>
    <p>Limones $5 pesos Click aqui para comprar</p>
    <p>Cocos $40 pesos Click aqui para comprar</p>
    <p>Lechuga $10 pesos Click aqui para comprar</p>
    <p>Tomates $14 pesos Click aqui para comprar</p>
    <p>Cebolla $9 pesos Click aqui para comprar</p>
    <p>Ajo $6 pesos Click aqui para comprar</p>
    <p>Zanahoria $11 pesos Click aqui para comprar</p>
    <p>Pepino $13 pesos Click aqui para comprar</p>
    <p>Papa $10 pesos Click aqui para comprar</p>
    <p>Yuca $16 pesos Click aqui para comprar</p>
    <p>Batata $17 pesos Click aqui para comprar</p>
    <p>Brócoli $20 pesos Click aqui para comprar</p>
    <p>Coliflor $19 pesos Click aqui para comprar</p>
    <p>Espinaca $12 pesos Click aqui para comprar</p>
    <p>Repollo $15 pesos Click aqui para comprar</p>
    <p>Apio $14 pesos Click aqui para comprar</p>
    <p>Remolacha $18 pesos Click aqui para comprar</p>
    <p>Pimientos $21 pesos Click aqui para comprar</p>
    <p>Maíz $10 pesos Click aqui para comprar</p>

  </body>
</html>